@use '../../styles/variables' as *;

.game-over-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;

    &__title {
        font-size: 3rem;
        color: red;
    }

    &__link {
        width: 100%;
    }
}