@use '../../styles/variables' as *;

.button {
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 10px;
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;

    &:hover {
        cursor: pointer;
    }

    &--primary {
        background-color: $primaryColor3;
        color: $primaryColor1;
        border: 2px solid $primaryColor1;
        transition: transform 0.4s;
        font-size: 1.5rem;

        &:hover {
            background-color: $secondaryColor2;
            transform: scale(1.05);
        }
    }

    &--primary-unclickable {
        background-color: gray;
        color: $primaryColor1;
        border: 2px solid $primaryColor1;
        font-size: 1.5rem;
        pointer-events: none;
    }

    &--login {
        background-color: $primaryColor1;
        color: $primaryColor3;
        border: 2px solid $primaryColor1;
        font-size: 1rem;

        &:hover {
            background-color: $secondaryColor1;
        }
    }
}