@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.gameboard {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $primaryColor2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem $margin-mobile;

    &__draw-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__deck-container {
        display: flex;
        gap: 9.5rem;
        position: relative;
    }

    &__draw-pile {
        @include tile;
    }

    &__draw-card {
        @include tile;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__draw-pile-card {
        @include tile;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    }

    &__draw {
        display: flex;
        gap: 1rem;
    }

    &__lobby-draw {
        @include tile;
        margin-right: 2.5rem;

        &--selected {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        }
    }

    &__game {
        display: grid;
    }

    &__draw-tile {
        @include tile;

        &--selected {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        }
    }


}