@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.gameboard {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../../assets/game-background.png');
    background-color: rgba(255, 255, 255, 0.6);
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem $margin-mobile;

    @include tablet {
        gap: 2rem;
    }

    &__draw-container {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 11rem;

        @include tablet {
            width: 35.5rem;
            justify-content: center;
        }
    }

    &__deck-container {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 12rem;
    }

    &__draw-pile {
        @include tile;
    }

    &__draw-card {
        @include tile;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__draw-pile-card {
        @include tile;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        position: absolute;
        bottom: -7rem;
        left: 0;

        @include tablet {
            position: relative;
            bottom: 0;
        }
    }

    &__draw {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        align-items: flex-start;

        @include tablet {
            gap: 1rem;
        }
    }

    &__lobby-draw {
        @include tile;
        position: relative;
        top: -7rem;
        right: -5.5rem;

        @include tablet {
            top: 0;
            right: 0;
            margin-right: 2.5rem;
        }

        &--selected {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        }
    }

    &__game-container {
        margin: 0 $margin-mobile;
        width: 100%;
        height: 25rem;
        overflow: scroll;
        border: 2px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/game-background.png');
        background-color: rgba(255, 255, 255, 0.4);
        background-position: center;
        background-blend-mode: overlay;
        background-size: cover;
    }

    &__game {
        display: grid;
    }

    &__draw-tile {
        @include tile;

        &--selected {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        }
    }
}