@use './variables' as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin tile {
    width: 5rem;
    height: 5rem;

    @include tablet {
        width: 7.5rem;
        height: 7.5rem;
    }
}

@mixin page-background {
    background-image: url('../../assets/game-background.png');
    background-color: rgba(255, 255, 255, 0.6);
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
}