$tablet-width: 768px;
$desktop-width: 1280px;

$primaryColor1: #253237;
$primaryColor2: #9DB4C0;
$primaryColor3: #E6E8E6;

$secondaryColor1: #5C6B73;
$secondaryColor2: #CED0CE;

$margin-mobile: 1rem;
$margin-tablet-desktop: 2rem;
$desktop-container-width: 76rem;