@use '../../styles/mixins' as *;

.settings-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    @include tablet {
        width: 80%;
    }
}