@use '../../styles/mixins' as *;

.gameboard {
    height: 17.5rem;
    padding: 1rem;
    border: 2px black solid;
    overflow: scroll;
    background-image: url('../../assets/game-background.png');
    background-color: rgba(255, 255, 255, 0.4);
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;

    &--turn {
        box-shadow: 0 0 15px 3px rgba(255, 215, 0, 0.5),
            0 0 30px 10px rgba(255, 223, 100, 0.3),
            0 0 50px 20px rgba(255, 223, 150, 0.2);
    }

    @include tablet {
        height: 25rem;
    }

    &__game {
        display: grid;
    }
}