@use '../../styles/variables' as *;

.game-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem $margin-mobile;
    position: fixed;
    top: 0;

    &__stats-container {
        display: flex;
        gap: 2rem;
        font-size: 1.25rem;
    }
}