@use '../../styles/variables' as *;

.saved-games {
    padding: 1.5rem;
    width: 30rem;
    background-color: $primaryColor3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__container {
        padding-bottom: 2rem;
    }

    &__header-container {
        display: flex;
        padding: 0 0.5rem 1rem;
    }

    &__header {
        display: inline-block;

        &--game {
            width: 10rem;
        }

        &--date {
            width: 12rem;
        }

        &--type {
            width: 8rem;
        }
    }

    &__row {
        list-style: none;
        display: flex;
        padding: 0.25rem 0.5rem 0.25rem;
        border-radius: 5px;
        margin-bottom: 0.25rem;

        &:hover {
            cursor: pointer;
        }

        &--selected {
            background-color: gray;
        }
    }

    &__item {
        &--game {
            width: 10rem;
        }

        &--date {
            width: 12rem;
        }

        &--type {
            width: 8rem;
        }
    }
}