@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.saved-games {
    padding: 1.5rem;
    width: 16.5rem;
    background-color: $primaryColor3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;

    @include tablet {
        width: 20rem;
    }

    &__container {
        padding-bottom: 2rem;
    }

    &__header-container {
        display: flex;
        padding: 0 0.5rem 1rem;
        align-items: center;
    }

    &__header {
        font-size: 1.15rem;

        @include tablet {
            font-size: 1.4rem;
        }

        &--game {
            width: 55%;
        }

        &--date {
            width: 45%;
        }
    }

    &__row {
        list-style: none;
        display: flex;
        padding: 0.25rem 0.5rem 0.25rem;
        border-radius: 5px;
        margin-bottom: 0.25rem;

        &:hover {
            cursor: pointer;
        }

        &--selected {
            background-color: gray;
        }
    }

    &__item {
        font-size: 0.8rem;

        @include tablet {
            font-size: 1rem;
        }

        &--game {
            width: 55%;
        }

        &--date {
            width: 45%;
        }
    }
}